<%= link_to "Add a Helpful Link for Learning Rails", new_link_path, {:class => "fancybox"} %>
<div class="linksAll">
<table cellpadding="10">
		<tr>
			<td><h2>Link</h2></td>
			<td><h2>Description</h2></td>
		</tr>
	<% @links.each do |l| %>
		<tr>
			<% if /http:/.match(l.url)
				u = l.url
				else
				u = 'http://' + l.url
				end %>
			<td><%= link_to l.name, u %></td>
			<td><%= l.description %></td>
		</tr>		
	<% end %>
</table>
</div>